/* Login form */
.connection {
    margin-top: 15%;
}

/* Subtitle application name */
.subtitle {
    color: #ffd700;
}

/* Tableau */
.tab-tr 
{
    font-size: 1.5em;
}

tr
{
    font-size: 1.3em;
}

.tab-head > .tab-tr 
{
    font-weight: bold;
    font-size: 2em;
}

thead> tr{
    font-size: 1.5em;
}


/* Commmand Status */
.status-progress {
    color: #ff770b;
}

.status-waiting {
    color: #ff1d06;
}

.status-success {
    color: #2aff0b;
}

/* Support input type file */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Input number */
input[type=number] {
    display: block;
    padding: 3px 6px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 110%;
    outline: 0;
    background: #eee;
    color: #333;
    border-radius: 1px;
    text-align: center;
    box-shadow: 0 2px 8px #bbb, inset 0 0 0 1px white;
    width: 60px;
}
