.v-center {
    display: inline-block;
    vertical-align: middle !important;
    float: none;
}

.connection{
    margin-top: 15%;
}

.users-info{
    border:#333 solid 1px;
    margin: 10px 0;
    padding : 10px;
    background-color: #3D5062;
}

.status-progress{
    color: #ff770b;
}

.status-waiting{
    color: #ff1d06;
}

.btn-import{
    margin-bottom: 15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}